<div class="row" ng-controller="InvoiceCtrl">
    <div class="col-lg-6">
        <form role="form">
            <div class="form-group" id="invoiceNo_add">
                Invoice Number<br>
                <input class="form-control" placeholder="Enter invoice number" ng-model="invoice.invoiceNo">
            </div>
            <div class="form-group" id="compName_add">
                Company Name<br>
                <input class="form-control" placeholder="Enter company name" ng-model="invoice.companyName">
            </div>
            <div class="form-group" id="typeofwork_add">
                Type of Work<br>
                <input class="form-control" placeholder="Enter type of work" ng-model="invoice.typeOfWork">
            </div>
            <div class="form-group" id="cost_add">
                Amount<br>
                <input class="form-control" placeholder="Enter cost" ng-model="invoice.price">
            </div>
            <div class="form-group" id="status_add">
                Status<br>
                <select id="selectStatus" ng-model="invoice.status">
                    <option id="paidVal" value="Paid">Paid</option>
                    <option id="sentVal" value="Sent">Sent</option>
                    <option id="draftVal" value="Draft">Draft</option>
                    <option id="pastDueVal" value="Past Due">Past Due</option>
                </select>
            </div>
            <div class="form-group" id="invoice_dueDate">
                Due Date<br>
                <input type="text" placeholder="yyyy-mm-dd" ng-model="invoice.dueDate">
            </div>
            <div class="form-group" id="comments_add">
                Description<br>
                <input class="text-box" ng-model="invoice.comment">
            </div>

            <a>
                <button id="createButton" type="submit" class="btn btn-default" ng-click="createInvoice(invoice)">Create</button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default">Cancel</button>
            </a>
        </form>

    </div>
</div>
