<script src="js/controllers/dataController.js" onload="getInvoice()"></script>
<div class="row" ng-controller="InvoiceCtrl">
    <div class="col-lg-6">

        <form role="form" ng-model="invoiceGet">
            <div class="form-group" id="invoiceNo_add">
                Invoice Number<br>
                <input class="form-control" ng-model="invoiceGet.invoiceNo" ng-disabled="true">
            </div>
            <div class="form-group" id="compName_add">
                Company Name<br>
                <input class="form-control" ng-model="invoiceGet.companyName">
            </div>
            <div class="form-group" id="typeofwork_add">
                Type of Work<br>
                <input class="form-control" ng-model="invoiceGet.typeOfWork">
            </div>
            <div class="form-group" id="cost_add">
                Amount<br>
                <input class="form-control" ng-model="invoiceGet.price">
            </div>
            <div class="form-group" id="status_add">
                Status<br>
                <select id="selectStatus" ng-model="invoiceGet.status">
                    <option id="paidVal" value="Paid">Paid</option>
                    <option id="sentVal" value="Sent">Sent</option>
                    <option id="draftVal" value="Draft">Draft</option>
                    <option id="pastDueVal" value="Past Due">Past Due</option>
                </select>
            </div>
            <div class="form-group" id="invoice_dueDate">
                Due Date<br>
                <input type="text" placeholder="yyyy-mm-dd" ng-model="invoice.dueDate">
            </div>
            <div class="form-group" id="comments_add">
                Description<br>
                <input class="text" style="width: 300px;" ng-model="invoiceGet.comment">
            </div>

            <a>
                <button id="saveButton" type="submit" class="btn btn-default" ng-click="updateInvoice(invoiceGet)">
                    Save
                </button>
            </a>
            <a>
                <button type="button" class="btn btn-default" id="deleteButton"
                        ng-click="deleteInvoice(invoiceGet)" ng-show="invoiceGet">Delete Invoice
                </button>
            </a>
            <a href="#/tables">
                <button type="button" class="btn btn-default">Cancel</button>
            </a>
        </form>
    </div>
</div>
